Predicting Life Expectancy with Python.json
[{"id":"df440552.4292b8","type":"tab","label":"Predicting Life Expectancy with Python","disabled":false,"info":""},{"id":"73c4c6cf.ae41f8","type":"ui_form","z":"df440552.4292b8","name":"","label":"","group":"801c5231.53638","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles ","value":"me","type":"number","required":true,"rows":null},{"label":" BMI ","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths ","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"po","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"di","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":" Thinness 1-19 Years","value":"t1","type":"number","required":true,"rows":null},{"label":" Thinness 5-9 Years","value":"t5","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"icr","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sc","type":"number","required":true,"rows":null},{"label":"Developed","value":"dd","type":"number","required":true,"rows":null},{"label":"Developing","value":"dg","type":"number","required":true,"rows":null}],"formValue":{"am":"","id":"","al":"","pe":"","hb":"","me":"","bmi":"","ufd":"","po":"","te":"","di":"","ha":"","gdp":"","p":"","t1":"","t5":"","icr":"","sc":"","dd":"","dg":""},"payload":"","submit":"Predict","cancel":"Cancel","topic":"","x":70,"y":440,"wires":[["a93ef69d.be7d38"]]},{"id":"a93ef69d.be7d38","type":"function","z":"df440552.4292b8","name":"PreToken","func":"global.set(\"am\",msg.payload.am);\nglobal.set(\"id\",msg.payload.id);\nglobal.set(\"al\",msg.payload.al);\nglobal.set(\"pe\",msg.payload.pe);\nglobal.set(\"hb\",msg.payload.hb);\nglobal.set(\"me\",msg.payload.me);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"ufd\",msg.payload.ufd);\nglobal.set(\"po\",msg.payload.po);\nglobal.set(\"te\",msg.payload.te);\nglobal.set(\"di\",msg.payload.di);\nglobal.set(\"ha\",msg.payload.ha);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"t1\",msg.payload.t1);\nglobal.set(\"t5\",msg.payload.t5);\nglobal.set(\"icr\",msg.payload.icr);\nglobal.set(\"sc\",msg.payload.sc);\nglobal.set(\"dd\",msg.payload.dd);\nglobal.set(\"dg\",msg.payload.dg);\n\n\nvar apikey=\"sSfPzV1imhc-zplFWSHRgoPD4qHjBTzs1lCyS5dMJf8i\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["ec6b3038.1ede8"]]},{"id":"293e5fe8.5ec76","type":"http request","z":"df440552.4292b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/cb287346-86bc-499e-966c-7f91e743edd7/deployments/dcf929b2-a923-49b3-9521-b78630869bf9/online","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":220,"wires":[["ba938a63.3ad0a8","d74254b2.3f1468"]]},{"id":"a2d72246.0cbf4","type":"debug","z":"df440552.4292b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":60,"wires":[]},{"id":"ba938a63.3ad0a8","type":"function","z":"df440552.4292b8","name":"Prediction","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["a2d72246.0cbf4","d5ebbee7.258a5"]]},{"id":"4afd66a6.2887a8","type":"function","z":"df440552.4292b8","name":"PrePrediction","func":"var am = global.get('am')\nvar id = global.get('id')\nvar al = global.get('al')\nvar pe = global.get('pe')\nvar hb = global.get('hb')\nvar me = global.get('me')\nvar bmi = global.get('bmi')\nvar ufd = global.get('ufd')\nvar po = global.get('po')\nvar te = global.get('te')\nvar di = global.get('di')\nvar ha = global.get('ha')\nvar gdp = global.get('gdp')\nvar p = global.get('p')\nvar t1 = global.get('t1')\nvar t5 = global.get('t5')\nvar icr = global.get('icr')\nvar sc = global.get('sc')\nvar dd = global.get('dd')\nvar dg = global.get('dg')\n\nvar token=msg.payload.access_token;\nvar instance_id=\"cb287346-86bc-499e-966c-7f91e743edd7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload ={\"fields\":['Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling', 'Developed', 'Developing'],\"values\":[[am,id,al,pe,hb,me,bmi,ufd,po,te,di,ha,gdp,p,t1,t5,icr,sc,dd,dg]]};\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["293e5fe8.5ec76"]]},{"id":"ec6b3038.1ede8","type":"http request","z":"df440552.4292b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":320,"wires":[["4afd66a6.2887a8","bac554f.9e682a8"]]},{"id":"d5ebbee7.258a5","type":"ui_text","z":"df440552.4292b8","group":"801c5231.53638","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":140,"wires":[]},{"id":"40a62469.757d1c","type":"inject","z":"df440552.4292b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["a93ef69d.be7d38"]]},{"id":"bac554f.9e682a8","type":"debug","z":"df440552.4292b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":420,"wires":[]},{"id":"d74254b2.3f1468","type":"debug","z":"df440552.4292b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":320,"wires":[]},{"id":"801c5231.53638","type":"ui_group","z":"","name":"Form","tab":"94499d96.8f815","order":1,"disp":true,"width":"6","collapse":false},{"id":"94499d96.8f815","type":"ui_tab","z":"","name":"Life Expectancy Prediction using Python","icon":"dashboard","disabled":false,"hidden":false}]