Predicting Life Expectancy without Python.json
[{"id":"705b5983.02ba48","type":"tab","label":"Predicting Life Expectancy without Python","disabled":false,"info":""},{"id":"cf6e36fe.4ace78","type":"function","z":"705b5983.02ba48","name":"PreToken","func":"global.set(\"c\",msg.payload.c)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"me\",msg.payload.me)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"di\",msg.payload.di)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"t1\",msg.payload.t1)\nglobal.set(\"t5\",msg.payload.t5)\nglobal.set(\"icr\",msg.payload.icr)\nglobal.set(\"sc\",msg.payload.sc)\n\nvar apikey=\"sSfPzV1imhc-zplFWSHRgoPD4qHjBTzs1lCyS5dMJf8i\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":380,"wires":[["26313a2d.27e5e6"]]},{"id":"26313a2d.27e5e6","type":"http request","z":"705b5983.02ba48","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":368.9999952316284,"wires":[["2f95a116.71e94e","8b44392d.3cc8c8"]]},{"id":"1b9857e6.72c6c8","type":"inject","z":"705b5983.02ba48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.5,"y":293.99999809265137,"wires":[["cf6e36fe.4ace78"]]},{"id":"bedd1b07.29f318","type":"debug","z":"705b5983.02ba48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":918.0000114440918,"y":110.99999713897705,"wires":[]},{"id":"2f95a116.71e94e","type":"function","z":"705b5983.02ba48","name":"Pre Prediction","func":"var c = global.get('c')\nvar ye = global.get('ye')\nvar st = global.get('st')\nvar am = global.get('am')\nvar id = global.get('id')\nvar al = global.get('al')\nvar pe = global.get('pe')\nvar hb = global.get('hb')\nvar me = global.get('me')\nvar bmi = global.get('bmi')\nvar ufd = global.get('ufd')\nvar po = global.get('po')\nvar te = global.get('te')\nvar di = global.get('di')\nvar ha = global.get('ha')\nvar gdp = global.get('gdp')\nvar p = global.get('p')\nvar t1 = global.get('t1')\nvar t5 = global.get('t5')\nvar icr = global.get('icr')\nvar sc = global.get('sc')\nvar token=msg.payload.access_token\nvar instance_id=\"cb287346-86bc-499e-966c-7f91e743edd7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[c,ye,st,am,id,al,pe,hb,me,bmi,ufd,po,te,di,ha,gdp,p,t1,t5,icr,sc]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":676.0000076293945,"y":331.9999990463257,"wires":[["f78f7ecd.97896"]]},{"id":"f78f7ecd.97896","type":"http request","z":"705b5983.02ba48","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/a2550872-4cdb-4d2d-95be-57b2b556bc11/predictions","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":260,"wires":[["657ba095.816ba","fd13dc4.cdd542"]]},{"id":"5753551f.3c7a8c","type":"ui_form","z":"705b5983.02ba48","name":"","label":"","group":"916388a6.fa4f18","order":7,"width":0,"height":0,"options":[{"label":"Country","value":"c","type":"text","required":true,"rows":null},{"label":"Year","value":"ye","type":"number","required":true,"rows":null},{"label":"Status","value":"st","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles ","value":"me","type":"number","required":true,"rows":null},{"label":"BMI ","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths ","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"po","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"di","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 Years","value":"t1","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 Years","value":"t5","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"icr","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sc","type":"number","required":true,"rows":null}],"formValue":{"c":"","ye":"","st":"","am":"","id":"","al":"","pe":"","hb":"","me":"","bmi":"","ufd":"","po":"","te":"","di":"","ha":"","gdp":"","p":"","t1":"","t5":"","icr":"","sc":""},"payload":"","submit":"Predict","cancel":"Cancel","topic":"","x":71,"y":422.9999952316284,"wires":[["cf6e36fe.4ace78"]]},{"id":"785b91b1.9778a","type":"ui_text","z":"705b5983.02ba48","group":"916388a6.fa4f18","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":180,"wires":[]},{"id":"657ba095.816ba","type":"function","z":"705b5983.02ba48","name":"Prediction","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":639.6000366210938,"y":171.60000133514404,"wires":[["bedd1b07.29f318","785b91b1.9778a"]]},{"id":"8b44392d.3cc8c8","type":"debug","z":"705b5983.02ba48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":500,"wires":[]},{"id":"fd13dc4.cdd542","type":"debug","z":"705b5983.02ba48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":420,"wires":[]},{"id":"916388a6.fa4f18","type":"ui_group","z":"","name":"Form","tab":"22528031.ffc9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"22528031.ffc9c","type":"ui_tab","z":"","name":"Life Expectancy Prediction using AutoAI","icon":"dashboard","disabled":false,"hidden":false}]